.itemString {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 8px;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 3px rgba(34, 60, 80, 0.1);
  transition: background 0.2s ease;

  /* левая часть (картинка + название) */
  &__left {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1; /* тянется при необходимости, но ограничено */
    min-width: 220px;
    max-width: 300px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 6px;
      object-fit: cover;
    }

    h3 {
      font-size: 18px;
      //color: var(--block-text-color);
      margin: 0;
      font-weight: 600;
    }
  }

  &__info {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 4;
    gap: 10px;

    > div {
      flex: 1;
      min-width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h4 {
      margin: 2px 0;
      font-size: 0.9rem;
      //color: var(--block-text-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button {
      flex-shrink: 0;
      min-width: 100px;
      height: 35px;
    }
    @media (max-width: 950px) {
      justify-content: right;
    }
  }
}

.rate {
  @media (max-width: 1120px) {
    display: none !important;
  }
}

.difficulty {
  @media (max-width: 900px) {
    display: none !important;
  }
}

@media (max-width: 720px) {
  .itemString {
    &__left {
      min-width: 180px;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 685px) {
  .category {
    display: none !important;
  }
}

@media (max-width: 470px) {
  .itemString {
    &__info {
      button {
        padding: 4px;
        font-size: smaller;
      }
    }
    &__left {
      min-width: 0;
      h3 {
        font-size: 12px;
      }
    }
  }
}
