.overlay {
  position: fixed;
  inset: 0; // заменяет top, right, bottom, left = 0
  background: rgba(0, 0, 0, 0.4); // полупрозрачный слой
  backdrop-filter: blur(8px); // вот этот блюр
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: var(--bg-color);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  max-width: 600px;
  animation: scaleIn 0.25s ease-in-out;
  img {
    width: 100px;
    height: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
