@import '../../scss/variables';

.button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  //background-color: #3498db;
  border: 2px solid #a0a0a0;
  color: $black;
}

.primary:hover {
  //background-color: #2980b9;
  background-color: #e7e7e7;
}

.secondary {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.secondary:hover {
  background-color: #bdc3c7;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
