.button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  border: 2px solid var(--border-color);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.primary:hover {
  //background-color: #2980b9;
  background-color: var(--hover-color);
}

.secondary {
  background-color: transparent;
  color: var(--text-secondary-color);
}

.secondary:hover {
  background-color: var(--hover-color);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
