.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  gap: 8px;
  h3 {
    margin: 0;
  }
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
  position: relative;
  font-size: 30px;

  input {
    position: absolute;
    appearance: none;
  }

  label {
    cursor: pointer;
    color: #666;
    transition: color 0.2s;

    &::before {
      content: '★';
    }
  }

  input:checked ~ label,
  label:hover,
  label:hover ~ label {
    color: #ffa723;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  button {
    font-family: inherit;
    font-size: inherit;
    width: 120px;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 16px;
    background: var(--bg-color);
    transition: background 0.2s;

    &:hover {
      background: var(--hover-color);
    }
  }
}

.showButtons {
  opacity: 1;
}
