.languageSelector {
  display: flex;
  gap: 8px;
  background: var(--bg-color);
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
  user-select: none;
}

.lang {
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #333;
  transition: background 0.2s, color 0.2s;

  &:hover {
    background: var(--hover-color);
  }
}

.active {
  background: var(--primary-color);
  color: var(--bg-color);
  font-weight: 500;
}
