.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  &__icon {
    width: 30px;
    height: 30px;
    //background: url('../../assets/logo/book.svg') center/cover no-repeat;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 900;
  }
}

@media (max-width: 720px) {
  .logo {
    &__icon {
      width: 25px;
      height: 25px;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 680px) {
  .logo {
    &__text {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .logo {
    display: none;
  }
}
