.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px 20px;
}

.info {
  position: relative;
  border: var(--border-color) solid 2px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 50px 20px 20px 120px;
  border-radius: 20px;
  &__max {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 70px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: var(--border-color) solid 2px;
      align-self: center;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
  }
  &__image {
    position: absolute;
    top: -50px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: var(--border-color) solid 2px;
    background-color: var(--bg-color);
    overflow: hidden;
    margin: 0 auto 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.account {
  display: grid;
  grid-template-rows: auto 1fr 63px;
  height: 100%;
  min-height: 0;
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}

@media (max-width: 530px) {
  .info {
    padding: 10px;
    margin: 0 0 20px 0;
    &__image {
      display: none;
    }
    &__max {
      top: 5px;
      right: 5px;
    }
  }
}
