.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
}

.info {
  position: relative;
  border: #dfdede solid 2px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 50px 20px 20px 120px;
  border-radius: 20px;
  &__image {
    position: absolute;
    top: -50px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #dfdede solid 2px;
    background-color: white;
    overflow: hidden;
    margin: 0 auto 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
