.noteBlock {
  background-color: var(--bg-color);
  border-radius: 12px; // скругление
  border: var(--border-color) solid 1px;
  padding: 12px 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.1s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #555;
}

.date {
  font-weight: 500;
}

.definition {
  font-weight: 600;
  color: var(--text-secondary-color);
}

.content {
  font-size: 1rem;
  color: var(--text-color);
}
