.alert {
  position: fixed;
  top: 20px;
  right: -400px; // из-за края
  min-width: 250px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 9999;

  &.show {
    right: 20px;
    opacity: 1;
  }

  &.info {
    background-color: #2196f3;
  }

  &.success {
    background-color: #4caf50;
  }

  &.error {
    background-color: #f44336;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
  }
}
