.message {
  min-height: 0;
  &__header {
    display: flex;
    gap: 8px;
  }

  &__body {
    height: calc(100% - 52px);
    min-height: 0;
    overflow-y: auto;
    padding: 16px;
    background-color: var(--bg-aside-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--text-secondary-color);
      border-radius: 6px;
      border: 2px solid var(--bg-aside-color); // чтобы был внутренний отступ
    }

    &::-webkit-scrollbar-track {
      background-color: var(--bg-aside-color);
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }
}

.tab {
  background-color: transparent;
  border-radius: 10px 10px 0 0;
  color: var(--text-color);
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    background-color: var(--bg-aside-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
