.message {
  &__header {
    display: flex;
  }
  &__body {
    padding: 20px;
    z-index: 3;
    background-color: var(--bg-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}
.table {
  overflow-y: auto;
  height: 400px;
  &__row {
    display: flex;
    margin-bottom: 7px;
    &__header {
      display: flex;
      margin-bottom: 9px;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  &__column_1 {
    width: 20%;
    min-width: 150px;
  }
  &__column_2 {
    width: 30%;
  }
  &__column_3 {
    width: 50%;
  }
}
.tab {
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: black;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.active {
  background-color: #ffffff;
  border-color: #dfdede;
  //box-shadow: 0px 0px 10px rgba(197, 197, 197, 0.507);
}
