.terminWindow {
  padding: 24px;
  max-width: 1440px;
  margin: 0 auto;

  h1,
  h5 {
    margin: 0 0 12px;
  }

  p {
    line-height: 1.6;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h1 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0;
  }
  div {
    display: flex;
    gap: 10px;
  }
}

.actions {
  display: flex;
  gap: 12px;

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s;
    img {
      width: 10px;
    }
    &:hover {
      background: var(--hover-color);
    }
  }
}

.definition {
  margin-bottom: 16px;
  min-height: 120px;
  img {
    width: auto;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    background: #333;
    float: left;
    margin: 0 10px 0px 0;
  }

  p {
    flex: 1;
  }
}

.info {
  margin-bottom: 16px;

  div {
    margin: 4px 0;
    font-size: 0.95rem;
    opacity: 0.9;
  }
}

.ratingWrapper {
  display: flex;
  justify-content: left;
}

.rating {
  margin: 24px 0;
  width: min-content;
  .stars {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;

    div {
      width: 24px;
      height: 24px;
      background: #444;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #ffb400;
      }
    }
  }

  h5 {
    font-weight: normal;
    opacity: 0.8;
    text-align: center;
  }
}

.corrections {
  margin-top: 20px;
}

.watchAlso {
  margin-top: 20px;

  ul {
    list-style: circle;
    padding: 0 0 0 20px;

    li {
      padding: 6px 0;
      //border-bottom: 1px solid #333;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: #000000;
      }
    }
  }
}

@media (max-width: 600px) {
  .terminWindow {
    padding: 5px 10px;
  }
  .ratingWrapper {
    justify-content: center;
  }
}
