html {
  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-secondary-color);
    border-radius: 6px;
    border: 2px solid var(--bg-aside-color); // чтобы был внутренний отступ
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-aside-color);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
.terminWindow {
  padding: 24px;
  max-width: 1440px;
  margin: 0 auto;

  h1,
  h5 {
    margin: 0 0 12px;
  }

  p {
    line-height: 1.6;
  }
  .category {
    margin-bottom: 12px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h1 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0;
  }
  div {
    display: flex;
    gap: 10px;
  }
}

.actions {
  display: flex;
  gap: 12px;

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s;
    img {
      width: 10px;
    }
    &:hover {
      background: var(--hover-color);
    }
  }
}

.definition {
  margin-bottom: 16px;
  min-height: 120px;
  img {
    width: auto;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    background: #333;
    float: left;
    margin: 0 10px 0px 0;
  }

  p {
    flex: 1;
  }
}

.info {
  display: flex;
  gap: 10px;

  div {
    margin: 4px 0;
    font-size: 0.95rem;
    opacity: 0.9;
  }
}

.ratingWrapper {
  display: flex;
  justify-content: center;
}

.rating {
  margin: 8px 0;
  width: min-content;
  .stars {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;

    div {
      width: 24px;
      height: 24px;
      background: #444;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #ffb400;
      }
    }
  }

  h5 {
    font-weight: normal;
    opacity: 0.8;
    text-align: center;
  }
}

.corrections {
  margin-top: 20px;
}

.historyLabel {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  color: var(--text-secondary-color);
}

.watchAlso {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  p {
    display: flex;
    gap: 10px;
    span {
      font-weight: 800;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: var(--primary-color);
      }
    }
  }
}

@media (max-width: 800px) {
  .terminWindow {
    padding: 5px 10px;
  }
  .info {
    flex-direction: column;
    gap: 2px;
  }
}
