.searchBar {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;

  .input {
    min-width: 400px;
    font-size: large;
    padding: 8px 15px;
    border-radius: 19px;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    caret-color: var(--text-secondary-color);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
  }

  .input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
  }

  .searchButton {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
    border: none;
    background: url('../../assets/ui/magnifier.png') center/cover no-repeat;
    cursor: pointer;
  }
}
