.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1; // чтобы SearchBar сам растягивался внутри header

  .input {
    flex: 1;
    min-width: 100px;
    font-size: large;
    padding: 8px 15px;
    border-radius: 19px;
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    caret-color: var(--text-secondary-color);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
  }

  .input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
  }

  .searchButton {
    position: absolute;
    right: 50px;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    background-size: cover;
    background-position: center;
  }

  .searchButtonIconLight {
    background-image: url('../../assets/ui/light/magnifier_light.svg');
  }

  .searchButtonIconDark {
    background-image: url('../../assets/ui/dark/magnifier_dark.svg');
  }
}

@media (max-width: 680px) {
  .input {
    padding: 2px;
    width: 100px;
    font-size: 10px;
  }
}
