.block {
  position: relative;
  max-width: 900px;
}
.item {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-color);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.7s ease-in-out;

  &__deletion {
    position: absolute;
    z-index: 2000;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 16px;
    border: none;
    cursor: pointer;
    background: rgb(218, 67, 67);

    img {
    }
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(2px) sepia(20%);
    }
  }

  &__front {
    position: absolute;
    bottom: -70%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    transition: all 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--border-color);
  }

  &__info {
    display: grid;
    grid-template-rows: 30% 50% 20%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    z-index: 3;
  }

  &__header {
    font-size: 25px;
    text-align: center;
    color: var(--block-text-color);
  }

  &__text {
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;

    h4 {
      color: var(--block-text-color);
    }
  }

  &:hover {
    box-shadow: 0px 0px 4px 2px #00000096;

    & .item__front {
      bottom: 0;
    }
  }
}
