.connection {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__form {
    height: min-content;
    width: calc(100% - 80px);
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .connection {
    &__buttons {
      flex-direction: column;
      div {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin-top: 10px;

        align-items: center;
      }
    }
    &__form {
      width: calc(100% - 20px);
    }
  }
}

@media (max-width: 400px) {
  .connection {
    div {
      flex-direction: column;
    }
  }
}
