.noteBlock {
  background-color: var(--bg-color);
  border-radius: 12px; // скругление
  border: var(--border-color) solid 1px;
  padding: 12px 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.header {
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #555;
}

.date {
  font-weight: 500;
}
.label {
  display: inline-block;
  margin: 0 8px 0 8px;
  font-weight: 500;
  color: var(--text-color);
}
.author {
  font-weight: 600;
  color: var(--text-secondary-color);
}

.content {
  font-size: 1rem;
  color: var(--text-color);
}
