.button {
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: var(--border-color) solid 2px;
  background: var(--bg-color);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &:hover {
    background-color: var(--hover-color);
    box-shadow: 0px 0px 10px rgba(197, 197, 197, 0.507);
  }

  img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: white;
  }

  span {
    font-weight: 700;
  }
}
