.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
}

.main {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  &__icon {
    width: 30px;
    height: 30px;
    background: url('../../assets/logo/book.png') center/cover no-repeat;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 900;
  }
}

.content {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  height: calc(100vh - 20px - 40px);
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  width: 25%;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  &_link {
    display: block;
  }
}

.definitions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: min-content;
  gap: 10px;
  width: 75%;
  height: 100%;
  overflow-y: auto; // вертикальный скролл
  overflow-x: hidden;
}
